<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Fibonacci Number Generators/Results</title>

</head>
<body>
<form action="/fibonacci/compute"><br><br>
  Fibonacci(n) for n = <input name="n" value=<%= @n -%>><br>
  &nbsp;&nbsp;&nbsp;Algorithm to use:<br><br>
  &nbsp;&nbsp;&nbsp;<input name="algorithm" value="matrix" type="radio" <%= @matrix_checked -%>>Matrix<br>
  &nbsp;&nbsp;&nbsp;<input name="algorithm" value="addition" type="radio" <%= @addition_checked -%>>Addition<br>
  <br>
  <button name="Submit Again" style="height: 25px; width: 150px;">Submit Again</button>
</form>

<div>
  <p>
  Result = <%= @result -%>
</div>

</body>
</html>
