<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <%= stylesheet_link_tag "cs.css", :media => "all" %>
  <% title = "Computer Science Library for Ruby" + (!@page_title.blank? ? ": #{@page_title}" : "") %>
  <title><%= title -%></title>

</head>
<body>
	<div id='HEADER'>
		<h1><%= title -%></h1>
		<p />
	</div>
		
  <div id='CONTENT'>
    <%= yield :layout %>
  </div>
</body>
</html>
